extends ../../layout.jade 

block contenido 
    div(class="img-container")
        h1= imagen.title
        img(src="/public/imagenes/#{imagen._id}.#{imagen.extension}",class="main-img")
        if(typeof imagen.creator != "undefined")
            p Por #{imagen.creator.email}