extends ./layout.jade
block contenido 
    div(class="col-md-8 remove-float center-block text-center big-top-center")
        h1 Bienvenidos a Fotos Jazmincito
        a(href="/login", class="right-space") Iniciar sesion
        a(href="/signup") Registro
